/* GOOGLE INTER FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&display=swap");

/* GENERAL STYLES */
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #243e63;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  position: relative;
}
h1 {
  color: #000;
}
li {
  position: relative;
}
.container {
  padding: 96px 0;
}
.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}
/* NAVIGATION STYLES 
  FIGURE OUT HOW TO NOT MAKE THE DIV SPREAD THE WHOLE WIDTH OF THE PAGE!

*/
nav {
  display: flex;
  height: 80px;
  justify-content: center;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1280px;
}
.nav__logo {
  display: flex;
}
.nav__logo--img {
  max-width: 50px;
  width: 100%;
}
.nav__logo--text {
  font-weight: 1000;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 28px;
}
.nav__links--wrapper {
  display: flex;
}
.nav__links {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  padding: 0 20px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
}
/* .nav__link:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -6px;
  height: 2px;
  width: 80%;
  background: #6415ff;
  transition: all 300ms ease;
} */

.link__hover-effect::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: currentColor;
  width: 0;
  right: 0;
  transition: all 500ms ease;
  color: #6415ff;
  bottom: -4px;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
  transition: all 300ms ease;
}
.nav__link--login {
  margin-left: 40px;
}
.nav__link--register {
  background-color: #6415ff;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
}

/* HEADER STYLES */
.header__description {
  width: 40%;
  padding: 20px 10px;
  font-size: 28px;
}

.header__img--wrapper {
  width: 60%;
}
.header__img {
  width: 100%;
  /* max-width: 768px; */
}
.text--purple {
  color: #6415ff;
}
.header__description--paragraph {
  font-size: 20px;
  font-weight: 400;
  margin-top: 32px;
  line-height: 1.5;
}
