/* GOOGLE INTER FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&display=swap");

/* GENERAL STYLES */

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #243e63;
}
body {
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  position: relative;
}
h1 {
  color: #000;
}
li {
  position: relative;
}
img {
  width: 100%;
}
.container {
  padding: 96px 0;
}
.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 0 32px;
}
.row--narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.no-click {
  cursor: not-allowed;
}
/* NAVIGATION STYLES
  FIGURE OUT HOW TO NOT MAKE THE DIV SPREAD THE WHOLE WIDTH OF THE PAGE!

*/
nav {
  display: flex;
  height: 80px;
  justify-content: center;
  margin: 24px 0;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1280px;
  padding: 0 32px;
}
.nav__logo {
  display: flex;
}
.nav__logo--img {
  max-width: 50px;
  width: 100%;
}
.nav__logo--text {
  font-weight: 1000;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 28px;
}
.nav__links--wrapper {
  display: flex;
}
.nav__links {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  padding: 0 20px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
}
/* .nav__link:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -6px;
  height: 2px;
  width: 80%;
  background: #6415ff;
  transition: all 300ms ease;
} */

.link__hover-effect::after,
.footer__link::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: currentColor;
  width: 0;
  right: 0;
  transition: all 500ms ease;
  color: #6415ff;
  bottom: -4px;
}

.footer__link::after {
  color: #fff;
  height: 2px;
  bottom: -6px;
}
.link__hover-effect:hover:after,
.footer__link:hover:after {
  left: 0;
  width: 100%;
  transition: all 300ms ease;
}
.nav__link--login {
  margin-left: 40px;
}
.nav__link--signup,
.btn,
.header__email--button {
  background-color: #6415ff;
  transition: background-color 300ms ease;
  padding: 12px 32px;
  border-radius: 24px;
  border: none;
  color: #fff;
  font-weight: 600;
}
.nav__link--signup:hover,
.quality-work__button:hover,
.header__email--button:hover {
  background-color: #5615d7;
  transition: background-color 300ms ease;
}

.button__menu {
  display: none;
}

.menu {
  display: none;
}
/* HEADER STYLES */
.row--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}
.header__description {
  width: 40%;
  padding: 20px 10px;
  font-size: 28px;
}
.header__img--wrapper {
  width: 60%;
  max-width: 650px;
}
.header__img {
  width: 100%;
}
.text--purple {
  color: #6415ff;
}
.header__description--paragraph {
  font-size: 20px;
  font-weight: 400;
  margin: 32px 0;
  line-height: 1.5;
}
.header__email {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#header__email--input {
  border: solid lightgray 2px;
  border-radius: 36px;
  width: 90%;
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 36%; /* Padding left makes room for button*/
  transition: border-color 300ms ease;
}
#header__email--input:hover {
  border-color: darkslategray;
  transition: border-color 300ms ease;
}

#header__email--input:active,
#header__email--input:focus {
  border-color: #6415ff;
  outline: none;
}

.header__email--button {
  width: 33%;
  position: absolute;
  border-radius: 32px;
  top: 8px;
  bottom: 8px;
  left: calc(100% - 10% - 33% - 1.5%);
  /* 100 - leftover from input (10%) - elementwidth(33%) - 1.5% to add space from right */
}

.header__paragraph--customers {
  font-size: 12px;
  color: lightslategray;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 12px;
}

.header__description--logos {
  width: 80%;
  opacity: 0.5;
}

/* FEATURES */

.section__title,
.section__title--service {
  text-align: center;
}
.section__title {
  letter-spacing: 2px;
  font-size: 16px;
}
.section__title--service,
.testimonials__title--service {
  font-size: 52px;
  margin: 20px 0;
  font-weight: 800;
}
.section__paragraph,
.values__paragraph {
  font-size: 18px;
  max-width: 580px;
  color: #7c8ba1;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 56px 0;
}

.feature {
  display: flex;
  width: calc(100% / 3);
  margin: 56px 0px;
  padding: 0px 12px;
}
.feature__img {
  height: 64px;
  width: 64px;
  border: 2px solid #4c4c4c14;
  border-radius: 50%;
  padding: 18px;
  margin: 0 16px;
}
.feature__description {
  display: flex;
  flex-direction: column;
}

.feature__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}
.feature__paragraph {
  font-size: 16px;
  line-height: 1.75;
  color: lightslategray;
}

/*  QUALITY WORK */
.text--left {
  text-align: left;
}
.quality-work__description,
.values__description {
  width: 50%;
  margin-right: 64px;
}
.quality-work__button {
  margin-top: 28px;
}
.quality-work__img--wrapper {
  width: 50%;
  margin: 0 56px;
  display: flex;
  margin: 0 56px;
  position: relative;
  align-self: center;
}
.quality-work__img {
  width: 100%;
  height: auto;
  z-index: 3;
  border: 1px solid rgb(229, 231, 235);
}

.quality-work__dots {
  position: absolute;
  height: 80px;
  width: 80px;
  right: -40px;
  bottom: -40px;
  z-index: 0;
  /* i got the below values from a filter generator */
  filter: invert(12%) sepia(99%) saturate(7030%) hue-rotate(264deg)
    brightness(101%) contrast(108%);
}

/* STEPS */
.steps__row {
  align-items: center;
}
.steps__img--wrapper {
  width: 50%;
}
.steps__img {
  width: 100%;
}
.steps__description {
  width: 50%;
  margin: 32px 0 32px 64px;
}
.steps__list {
  margin: 24px 0;
}
.step {
  display: flex;
  margin-bottom: 24px;
  max-width: 75%;
}
.step__number {
  color: #cbd5e0;
  font-size: 40px;
  font-weight: 700;
}

.step__description {
  margin-left: 24px;
}
.step__title {
  color: #243e63;
  font-weight: 600;
}

.step__paragraph {
  font-size: 16px;
  margin-top: 12px;
  line-height: 2;
  font-weight: 500;
  color: #718096;
}

/* VALUES */
.values__paragraph,
.value__description {
  margin-left: 0;
  margin-bottom: 32px;
  line-height: 1.75;
  color: #718096;
}

.values__list {
  display: flex;
}
.value {
  margin: 0 16px 16px 0;
}
.value__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.value__description {
  line-height: 1.5;
}

.affordable,
.professionalism {
  padding: 12px;
  border-radius: 50%;
  font-weight: 200;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}
.affordable {
  background-color: #9ae6b4;
}
/* SVGs render as path or shapes inside the element */
.affordable path {
  color: green;
}
.professionalism {
  background-color: #feb2b2;
}
.professionalism path {
  color: red;
}
.values__img {
  max-width: 50%;
}

/* PRICING */

.row--pricing {
  display: flex;
  flex-direction: column;
}
.section__paragraph--pricing {
  margin-bottom: 32px;
}
.plans {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.plan {
  width: 30.5%;
  display: flex;
  flex-direction: column;
  padding: 4px;
  position: relative;
  margin: 8px 16px;
  align-items: center;
  border: solid 2px #dde3eb;
  border-radius: 0.5rem;
}

.plan__stripe {
  position: absolute;
  left: -2px;
  right: -2px;
  top: -2px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan__top {
  padding: 32px 0;
  position: relative;
  width: 100%;
}
.plan__top:after,
.plan__middle:after {
  content: "";
  width: 102%;
  height: 1px;
  background-color: #dde3eb;
  position: absolute;
  bottom: 0px;
  left: -4px;
}
.plan__name,
.plan__price,
.plan__duration {
  font-weight: bold;
  line-height: 1.75;
  text-align: center;
}
.plan__name,
.plan__price,
.plan__target {
  color: #1a202c;
}
.plan__name {
  font-size: 20px;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
}

.plan__duration {
  font-size: 16px;
  letter-spacing: 0.1rem;
  color: #a0aec0;
}

.plan__middle {
  padding: 28px 0;
  text-align: center;
  position: relative;
  width: 100%;
}

.plan__features {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.plan__target {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
  color: #1a202c;
}
.plan__feature {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 500;
  color: #718096;
}

.plan__bottom {
  padding: 40px 80px;
}

.plan__buy-now {
  padding: 20px 80px;
  font-weight: 700;
  border-radius: 40px;
  font-size: 0.875rem;
  color: #fff;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border: none;
  transition: all 300ms ease;
}

.plan__buy-now:hover,
.start__button:hover,
.start__button--secondary:hover {
  transform: translate(1px, -1px);
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: all 300ms ease;
}
/*
 *
 * BUSINESS PLAN ****
 *
 *
 */

/* BUSINESS plan has no stripe */
.plan:nth-child(2) .plan__stripe {
  display: none;
}

.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan:nth-child(2) .plan__top:after,
.plan:nth-child(2) .plan__middle:after {
  background-color: #a8ccfa55;
}
/* MIDDLE PLAN COLOR */
.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__feature {
  color: rgb(255, 254, 239);
}

.plan:nth-child(2) .plan__buy-now {
  color: #6415ff;
  background: white;
}

/* ENTERPRISE PLAN */

.plan:nth-child(3) .plan__stripe {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan:nth-child(3) .plan__buy-now,
.start__button {
  color: #fff;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  border: none;
}

/* TESTIMONIALS */

.testimonials__description {
  width: 50%;
  text-align: left;
  padding-left: 64px;
}
.testimonials__title--service {
  font-size: 44px;
  margin: 20px 0;
  font-weight: 800;
}
.testimonial__img {
  width: 50%;
  position: relative;
}
.testimonial__profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.testimonial__stars {
  margin-bottom: 4px;
}
.testimonial__star path {
  color: #ecc94b;
}

.testimonial {
  display: flex;
  margin: 32px 0;
  border: 1px solid #edf2f7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fbfbfb6e;
  padding: 32px 24px;
  border-radius: 24px;
}
.testimonial__name {
  color: #4a5568;
  font-weight: 700;
  font-size: 24px;
}
.testimonial__ceo {
  font-size: 16px;
  color: #718096;
  font-weight: 500;
  line-height: 1.2;
}
.testimonial__left {
  text-align: center;
  padding: 0 16px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonial__right {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.testimonial__title {
  margin-bottom: 4px;
  font-size: 20px;
}
.testimonial__paragraph {
  font-size: 16px;
  line-height: 1.5;
  color: #718096;
}

.testimonials__arrows {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.testimonial__arrow {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 12px;
  background-color: #edf2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  transition: background-color 150ms linear;
}
.testimonial__arrow:hover {
  background-color: #dbdfe2;
  transition: background-color 150ms linear;
}
.testimonial__arrow path {
  color: #6415ff;
}

/* START SECTION */
.container--start {
  padding: 48px 96px;
  width: 100%;
}

.row--start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 128px;
  background-color: #6415ff;
  border-radius: 24px;
  margin-bottom: 128px;
}

.start__text {
  color: #fff;
  font-size: 28px;
  width: 50%;
  line-height: 1.5;
}
.start__buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0 32px;
}
.start__button,
.start__button--secondary {
  padding: 24px 32px;
  margin: 0 8px;
  border-radius: 40px;
  width: 50%;
  font-size: 16px;
  transition: all 300ms ease;
}

.start__button--secondary {
  font-weight: 700;
  font-size: 0.875rem;
  color: #6415ff;
  background: white;
  border: none;
}

/* FOOTER */

footer {
  background-color: #6415ff;
  padding: 40px 32px 28px 32px;
}

.footer__title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding: 0 32px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 32px;
}
.footer__link {
  color: #fff;
  line-height: 2;
  font-size: 14px;
  font-weight: 400;
}

/* FOOTER COPYRIGHT */
.footer__copyright {
  padding-top: 32px;
  border-top: 1px solid #ffffff6d;
  max-width: 1280px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo--img {
  max-width: 32px;
  width: 100%;
}
.footer__logo--text {
  font-weight: 1000;
  display: flex;
  align-items: center;
  margin-left: 4px;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1.5px;
}

.footer__copyright--text {
  color: #fff;
  font-size: 16px;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social path {
  color: #6415ff;
}

.footer__social {
  padding: 8px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 6px;
  font-size: 14px;
  transition: background-color 150ms linear;
}

.footer__social:hover {
  background-color: #d4d8dd;
  transition: background-color 150ms linear;
}

/* RESPONSIVENESS */

@media (max-width: 1280px) {
  /* NAVIGATION */
  .nav__logo--img {
    max-width: 40px;
    width: 100%;
  }
  .nav__logo--text {
    font-weight: 1000;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
  }
  .nav__link {
    padding: 0 20px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  /* HEADER */
  h1,
  .section__title--service,
  .testimonials__title--service {
    font-size: 40px;
  }
  .section__paragraph {
    font-size: 16px;
  }

  .header__description--paragraph {
    font-size: 16px;
  }

  #header__email--input {
    font-size: 14px;
  }
  .header__img--wrapper {
    width: 50%;
    max-width: 575px;
  }
  /* FEATURES */
  .feature__title {
    font-size: 20px;
  }
  .feature__paragraph {
    font-size: 14px;
  }
  .feature__img {
    height: 48px;
    width: 48px;
    border: 2px solid #4c4c4c14;
    border-radius: 50%;
    padding: 12px;
    margin: 0 16px;
  }
  /* QUALITY WORK */

  /* buttons */
  .nav__link--signup,
  .btn,
  .header__email--button {
    padding: 12px 16px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
  }
  /* STEPS */
  .step__title {
    font-size: 18px;
  }
  .step__number {
    font-size: 32px;
  }
  .step__paragraph {
    font-size: 14px;
    line-height: 1.75;
  }
  /* VALUES */

  .values__paragraph {
    font-size: 16px;
  }
  .value__title {
    font-size: 20px;
  }
  .affordable,
  .professionalism {
    width: 16px;
    height: 16px;
  }

  .value__description {
    font-size: 16px;
  }

  /* PRICING */

  .plan {
    width: 29%;
  }

  .plan__name {
    font-size: 16px;
  }

  .plan__price {
    font-size: 40px;
  }

  .plan__duration {
    font-size: 16px;
  }

  .plan__middle {
    padding: 28px 0;
  }

  .plan__target {
    font-size: 16px;
  }
  .plan__feature {
    font-size: 14px;
  }

  .plan__bottom {
    padding: 40px 80px;
  }

  .plan__buy-now {
    font-size: 14px;
  }
  /* TESTIMONIALS */
  .testimonial__name {
    font-size: 16px;
  }
  .testimonial__ceo {
    font-size: 12px;
  }
  .testimonial__title {
    font-size: 18px;
  }
  .testimonial__paragraph {
    font-size: 14px;
  }
  /* GET STARTED */
  .start__button,
  .start__button--secondary {
    padding: 16px 24px;
    margin: 0 8px;
    width: 50%;
    font-size: 14px;
    font-weight: 600;
  }
  .start__button--secondary {
    color: #6415ff;
  }
}

@media (max-width: 1024px) {
  /* GENERAL STYLES */
  .container {
    padding: 48px 0;
    justify-self: center;
  }
  /* MENU STYLES */
  .nav__links--wrapper {
    display: none;
  }
  .menu {
    display: grid;
    visibility: hidden;
  }
  /* MENU STYLES */
  .button__menu {
    background-color: transparent;
    text-align: center;
    border: none;
    display: grid;
  }
  .button__menu--close {
    position: fixed;
    top: 24px;
    right: 16px;
    font-size: 12px;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 60vw;
    right: 0;
    margin: 24px 16px;
    background-color: #fff;
    height: 90vh;
    padding: 32px 0;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #edf2f7;
    transform: translateX(120%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
      transform 400ms ease,
      opacity 400ms ease,
      visibility 400ms ease;
    z-index: 3;
  }
  .menu--open {
    max-height: 100vh;
    overflow-y: hidden;
  }
  .menu--open .menu {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__items {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .menu__item,
  .menu__item--signup {
    padding: 12px;
    font-size: 20px;
    font-weight: 500;
  }
  .menu__item--signup {
    background-color: #6415ff;
    border-radius: 24px;
    margin-top: 8px;
    padding: 12px 32px;
  }
  .menu__link {
    color: #000;
  }
  .menu__link--signup {
    color: #fff;
  }

  /* HEADER STYLES */
  .row--header {
    flex-direction: column;
  }
  .header__description {
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .header__title,
  .header__description--paragraph {
    text-align: center;
  }
  .header__description--paragraph {
    margin: 16px 0;
    max-width: 480px;
  }
  .header__title {
    font-size: 32px;
    text-align: center;
  }
  .header__email {
    width: 100%;
    justify-content: center;
  }
  .header__email--button {
    width: 33%;
    left: calc(100% - 44.5%);
    font-size: 16px;
  }
  #header__email--input {
    font-size: 16px;
    padding-right: 35%;
    width: 80%;
  }

  .header__img--wrapper {
    width: 80%;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
